body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.flex {
    display: flex;
}

.header {
    justify-content: center;
}

.container {
    margin: 0 10vw;
    justify-content: center;
    flex-wrap: wrap;
}

#matrix {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#row {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.cell {
    width: 70px;
    height: 50px;
    font-size: large;
    padding-left: 10px;
}

.options {
    justify-content: center;
    margin: 10px;
    width: 100%;
}

button {
    width: 30px;
    height: 30px;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
}